# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.*

# testing
/coverage

# next.js
.next/
out/

# turbo
.turbo/

# build outputs
dist/
build/

# misc
.DS_Store
*.pem
*.log
.vercel
.vscode/
.idea/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# logs
*.txt
*.log

# Turborepo
.turbo
